

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    display: block;
    height: 36px;
    width: 10px;
    background: #000;
    margin-right: 24px;
    animation: scale 1600ms ease-in-out;
    animation-delay: 100ms;
    transform-origin: 50% 50%;
    box-shadow: 2px 2px 2px #1a4741;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}