.header {
  width: 100%;
  height: 550px;
  padding: 50px;
  background: url("../../../assets//headerpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  align-items: center;
}
.typography {
  font-weight: 600;
  text-shadow: 1px 1px 12px black;
  margin: auto;
  width: 400px;
  padding: 5px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(136, 165, 219);
  border-radius: 5px;
  width: 150px;
  padding: 5px;
  margin: auto auto 40px auto;
}

@media (max-width: 768px) {
  .header {
    height: 60vh;

    align-items: stretch;
  }
  .typography {
    font-size: 14px;
    font-weight: 600;
    width: 300px;
  }
  .link {
    width: 130px;
    margin: auto auto 40px auto;
  }
}
