.header {
  width: 100%;
  height: 550px;
  background: url("../../../assets//mainphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(136, 165, 219);
  border-radius: 5px;
  width: 150px;
  padding: 5px;
  margin: auto;
}

@media (max-width: 768px) {
  .header {
    height: 60vh;
  }
  .link {
    width: 130px;
    margin: auto auto 40px auto;
  }
}
