body {
    background-color: #f7f8fc7e;
}

* {
    font-family: 'Poppins', sans-serif !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
 thin 100 => 200 => 300 => 400 => 500;
*/
